*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    background-color: #141414;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    cursor: pointer;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

nav ul li {
    display: inline-flex;
    padding: 40px;
}
nav ul li a {
   text-decoration: none;
   font-size: 16px; 
   color: #ffffff;
}

nav .cta button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
color: white;
width: 175px;
height: 65px;
border: 1px solid #FFFFFF;
border-radius: 50px;
}

.checked {
    float: right;
    display: none;
}

.content {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 50px;
width: 1000px;
padding: 100px;
}

.content span {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}

.content p {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.1em;
color: #FFFFFF;
width: 1000px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 152px;
    margin-top: 72px;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
}

.copyright h1 {
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
}

.copyright a {
    background-color: white;
}

.copyright a img {
    background-color: white;
    margin-right:16px;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 2px;
    border-color: black;
    background-color: white;
    
}
.email a {
    background-color: white;
    color: black;
    margin-left: 16px;
}

.email img {
    background-color: white;
    justify-content: space-around;
}

.social {
    background-color: white;
    justify-content: space-around;
}

.social a {
    background: none;
}

.social a img {
    background-color: white;
    margin-left: 16px;
}

#click {
    display: none;
}

.menu i {
    color: white;
    font-size: 22px;
    cursor: pointer;
}
